header {
    background: white;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #cccccc; 
    padding-top: 40px;
    position: relative;
    overflow: auto;
  }  

.Heading-Box {
    width: 960px;  
    margin: auto;
  }

  h1 {
    padding: 20px;
    width: 180px;
    float: left;
    position: absolute;
    bottom: 0px;
    font-size: 28px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:#4aaaa5;   
    font-weight: bold;
    z-index: 3;
  }

  #NavBar {
      background: white;
      padding: 20px;
      text-align: right;
      color: #666666;
      z-index: 2;
      position: relative;
      bottom: 0;
      right: 0;
    }
    
section {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
        clear: both;
        width: 960px;
        background: white;
        border-style: solid;
        border-width: thin;
        border-color: #dddddd; 
    }
    
    p {
        color: #777777;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    a {
        color: #777777;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        font-size: 14px;
        text-decoration: none;
    }
    
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    
    
#About-Me-Heading {
    padding-bottom: 20px;
    margin: 20px;
    border-bottom-style: solid;
    border-color: #cccccc;
    border-width: thin; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 24px;
}

#About-Me-Image {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

#About-Me-Text {
    height: 100%;
    padding-right: 20px;
}


footer {
    clear: both;
    background:#666666;
    padding: 15px;
    border-top-style: solid;
    border-width: thick;
    width: 100%;
    border-color: #4aaaa5; 
    position: fixed;
    bottom: 0px;

}

#Footer-Text {
    color: white;
    text-align: center;
    font-size: 8px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
